.pagination {
    --border-color: #ddd;
    --button-hover-color: #f0f0f0;

    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.pagination button {
    padding: 16px 24px;
    border: 1px solid var(--border-color);
    font-size: 16px;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
}

.paginationSelect,
.paginationSelect>div {
    cursor: pointer;
    border-color: var(--border-color)
}

.pagination button:hover {
    background-color: var(--button-hover-color);
}

@media screen and (max-width: 420px) {
    .pagination {
        flex-wrap: wrap;
        justify-content: flex-start;
        font-size: 12px;
        gap: 10px;
    }

    .paginationSelect,
    .paginationSelect>div {
        flex-grow: 1;
        width: 100%;
    }

    .pagination button {
        font-size: 12px;
        padding: 10px 5%;
        flex-grow: 1;
        order: 1
    }

}